/* Jetstash. */

#jetstash img.logo {
  max-width: 150px;
  height: auto;
}

#jetstash input.btn {
  width: auto;
  margin-top: 15px;
}

#jetstash select, input, textarea {
  width: 350px;
}

#jetstash textarea {
  resize: none;
}

#jetstash .hidden {
  display: none;
}
